name: C++ Docker CI

on:
  push:
    branches:
      - "**"
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Build Docker image
      run: |
        docker build -t cpp-project-ci .

    - name: Run container (sanity check)
      run: |
        docker run --rm cpp-project-ci
